@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
	// margin: 0;
	// padding: 0;
	// border: none;
	// box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
}

:root {
    --container-width: 100%;
    --container-padding: 3%;
}

// body {
//     font-family: 'Poppins', sans-serif;
//     font-weight: 500;
// }

.none {
    display: none;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.container_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu__logo {
    font-size: 24px;
    font-weight: 600;
    color: #849A72;
}

.menu__content{
    column-gap: 5%;
}

.menu {
    background-color: #fff;
    .container__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu__nav {
            display: flex;
            align-items: center;
            column-gap: 40px;
            font-size: 14px;

            .menu__item {
                color: #000000;
                text-decoration: none;
            }

            .menu__item:hover {
                text-shadow: #3d3d3d 0 0 5px;
            }
        }

        .menu_button:hover {
            box-shadow:  #3d3d3d 0 0 5px;;
        }

        .menu__button {
            min-width: 100px;
        }


    }   
}

.menu_button {
    background-color: #849A72;
    color: #fff;
    padding: 10px 26px 10px 26px;
    border: 0px;
    border-radius: 6px;
}


.section1 {
    background-color: #F4F7F8;
}

.section1__image {
    max-width: 500px;
    // max-width: 80%;
    height: auto;
    display: block;

}

.header {
    font-weight: 500;
    // font-size: 50px;
    font-size: 50px;

}


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.section1__image {
    // max-width: 400px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #fff;
    color: #292742;
    font-size: 18px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    max-width: 123px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    // background-color: #ccc;
    text-shadow: #3d3d3d 0 0 5px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    // text-align: center;
}

// .drop_button {
//     // text-align: center;
//     text-decoration: none;
//     font-size: 16px;
//     font-weight: 400;
//     color: #5C6880;
// }

.inform {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #5C6880;
}

.container__footer {
    padding-top: 80px;
    padding-bottom: 43px;
}

.container__footer_right {
    column-gap: 100px;
}

.footer__icons {
    max-width: 175px;
}

.footer__text {
    max-width: 386px;
}

/* sort */

.ul, li {
    display: inline-block;
    padding: 10px 40px 10px 0;
    cursor: pointer;
}

.blocks_item {
    // min-height: 100px;
    // min-width: 50px;
    // border: 3px solid #000;
    // border-radius: 4px;
    // box-shadow: 2px 3px 5px #292742;
    min-height: 140px;
    min-width: calc(22% - 28px);
    padding: 0 10px;
    margin: 15px;
    // border-width: 3px;
    float: left;
    width: 20%;

}


// .deals {
//     // width: 20%;
//     border: 3px solid #849A72;
// }

.blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pot {
    width: 100%;
    box-shadow: 2px 3px 5px #292742;

}

/*модальное окно*/
.cookies {
	position: fixed;
	z-index: 100;
	left: 2rem;
	bottom: 2rem;
	padding: 16px;
	max-width: 416px;
	border-radius: 10px;
	color: #fff;
	background-color: #4b4b4b;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04), 0 4px 20px rgba(0, 0, 0, 0.1);
	font-size: 12px;
	line-height: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.cookies__btn {
	cursor: pointer;
	background-color: #000;
	padding: 10px 24px;
	border-radius: 6px;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	margin-left: 15px;
}
.cookies__descr {
}
.cookies__link {
	text-decoration: underline;
	color: #849A72;
}


// 


@media (max-width: 1025px) {

    .menu__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .menu__burger span{
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
    }
    .menu__burger::before,
    .menu__burger::after{
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .menu__burger:before{
        top: 0;
    }
    .menu__burger::after{
        bottom: 0;
    }

    .menu__content {
        background-color:#849A72;
        position: fixed;
        margin-top: 90px;
        top: -100%;
        left: 49%;
        width: 50%;
        height: 50%;
    }

    .menu__content.active {
        top: 1%;

    }

    .menu__button {
        display: none;
    }

    .menu__nav {
        margin: auto auto;
        flex-direction: column;
    }
}

@media (max-width: 920px) {
    .section1__left {
        margin: auto 0;
    }

    .header {
        font-size: 4vw;
    }
    .section1__image {
        max-width: 80%;
        float: right;
    }

}

@media (max-width: 700px) {
    .menu__content {
        background-color:#849A72;
        position: fixed;
        top: 1%;
        left: 0;
        width: 100%;
        height: 50%;
    }
}