@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
:root {
  --container-width: 1440px;
  --container-padding: 29px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.none {
  display: none;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

/* menu_up */
.menu {
  background-color: #F2F2F2;
}
.menu .container_menu {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu .container_menu .menu__logo:hover {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.1098039216));
          filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.1098039216));
}
.menu .container_menu .menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  font-size: 13px;
}
.menu .container_menu .menu__nav .menu__item {
  color: #000000;
}
.menu .container_menu .menu__nav .menu__item:hover {
  text-shadow: #3d3d3d 0 0 5px;
}
.menu .container_menu .menu__burger {
  display: none;
}

.menu_up {
  min-height: 70px;
}

/* section 0 */
.section0 {
  background-image: url("../img/section0.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 720px;
}
.section0 .container_section0 {
  font-size: 39px;
  color: #FFF;
  text-align: center;
}
.section0 .container_section0 .section0__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section0 .container_section0 .section0__content .section0__content-title {
  padding-top: 335px;
}

/* section 0-1 */
.section0-1 {
  color: #333333;
  background-color: #F2F2F2;
  min-height: 280px;
}
.section0-1 .section0-1__content {
  padding-top: 104px;
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* section 1 */
.grey-title {
  margin-bottom: 80px;
  color: #AAAAAA;
  font-size: 16px;
  line-height: 36px;
}

.subtitle {
  margin-bottom: 40px;
  color: #252525;
  font-size: 16px;
  max-width: 584px;
}

.content-img {
  position: relative;
}

.image1 {
  max-width: 500px;
}

.section-side-image {
  color: #000000;
  background-color: #FFF;
  min-height: 800px;
}

.section-side-image-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section1 .container_section1 {
  padding-top: 67px;
}
.section1 .container_section1 .section1__content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section1 .container_section1 .section1__content .text-content {
  padding-top: 98px;
}
.section1 .container_section1 .section1__content-right-image {
  padding-top: 98px;
}

/* section2 */
.section2 .container_section2 .section2__content .section2__content-left {
  padding-top: 0px;
}

.title {
  font-size: 31px;
  line-height: 36px;
}

/* section3 */
.section3 {
  color: #333333;
  background-color: #F2F2F2;
  min-height: 880px;
}
.section3 .container_section3 {
  padding-top: 163px;
}
.section3 .container_section3 .section3__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section3 .container_section3 .section3__content .section3__content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.section3 .container_section3 .section3__content .section3__content-left .section3__content-left-title {
  max-width: 458px;
  font-size: 40px;
}
.section3 .container_section3 .section3__content .section3__content-left .section3__content-left-subtitle {
  font-size: 16px;
  max-width: 476px;
}

/* menu down */
.menu_down {
  min-height: 100px;
}
.menu_down .container_menu_down {
  padding-top: 40px;
}

/* basement */
.basement {
  background-color: #111111;
  min-height: 50px;
}
.basement .basement__content {
  padding-top: 15px;
}
.basement .basement__content .basement__content-credits {
  font-size: 12px;
  color: #777777;
}

/* media */
@media (max-width: 1400px) {
  .section0-1 .section0-1__content {
    padding-top: 90px;
    font-size: 14px;
  }
}
@media (max-width: 1152px) {
  .section1 .container_section1 .section1__content {
    margin-right: 0px;
  }
  .section2 .section2__content-up {
    margin-right: 0px;
  }
}
@media (max-width: 1147px) {
  .layout {
    min-height: 1196px;
  }
  .additional {
    min-height: 970px;
  }
}
@media (max-width: 1000px) {
  .brands {
    min-height: 232px;
  }
  .section0-1 .section0-1__content {
    padding-top: 90px;
    text-align: center;
    font-size: 12px;
  }
}
@media (max-width: 938px) {
  .menu .container_menu .menu__nav {
    display: none;
  }
}
@media (max-width: 858px) {
  .section1 {
    min-height: 800px;
  }
  .section1 .container_section1 .section1__content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 55px;
  }
}
@media (max-width: 856px) {
  .section0-1 .section0-1__content {
    padding-top: 90px;
    font-size: 12px;
  }
  .section2 {
    text-align: center;
    min-height: 1260px;
  }
  .section2 .section2__content-up {
    margin-right: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .section2__content-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .section2__content-down .section2__content-down-text {
    text-align: center;
  }
}
@media (max-width: 595px) {
  .section2 {
    text-align: center;
    min-height: 1260px;
  }
  .section2 .section2__content-up {
    margin-right: 0px;
  }
  .image1 {
    max-width: 390px;
    padding-top: 50px;
  }
  .section0-1 .section0-1__content {
    padding-top: 90px;
    font-size: 12px;
  }
}
@media (max-width: 548px) {
  .section1 {
    min-height: 850px;
  }
}
@media (max-width: 459px) {
  .section1 {
    min-height: 850px;
  }
}
@media (max-width: 425px) {
  .section2 {
    min-height: 1290px;
  }
}
@media (max-width: 396px) {
  .section1 {
    min-height: 860px;
  }
  .section1 .container_section1 .section1__content .section1__content-left-button {
    padding-bottom: 50px;
  }
}
@media (max-width: 379px) {
  .brands {
    min-height: 398px;
  }
  .section2 {
    min-height: 1308px;
  }
}
@media (max-width: 384px) {
  .layout {
    min-height: 1570px;
  }
}
@media (max-width: 363px) {
  .section1 {
    min-height: 880px;
  }
}
@media (max-width: 350px) {
  .section2 {
    min-height: 1328px;
  }
}
@media (max-width: 331px) {
  .section1 {
    min-height: 900px;
  }
  .layout {
    min-height: 1595px;
  }
}
@media (max-width: 328px) {
  .section1 {
    min-height: 935px;
  }
}
@media (max-width: 325px) {
  .section2 {
    min-height: 1346px;
  }
}
@media (max-width: 321px) {
  .layout {
    min-height: 1625px;
  }
}